.header {
	margin: 0;
	padding: 0;
}

.header .img-parent {
	position: relative;
}

.header img {
	max-height: 100%;
	width: 100%;
	margin-top: 76px;
}



.header .img-content {
	position: relative;
	margin-top: -200px;
	margin-bottom: 120px;
	z-index: 3;
	color: #fff;
	text-align: center;
	justify-content: center;
}

.header .img-content h1 {
	font-weight: bold;
	font-style: italic;
	font-size: 5rem;
	z-index: 9;
}

.discount-container {
	color: #fff;
	position: relative;
	top: 70%;
	left: 0;
	display: flex;
	gap: 30px;
	justify-content: center;
	width: 100%;
	text-align: center;
	align-items: center;
}

.discount-heading {
	position: relative;
	justify-content: center;
	width: 100%;
	text-align: center;
	color: #fff;
	margin: 20px 0;
	font-size: 2.5rem;
	font-weight: bold;
}

.discount-container .countdown-timer {
	display: flex;
	gap: 16px;
}

.countdown-timer .group {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.countdown-timer .value {
	background: #fff;
	color:#222;
	font-size: 3.3rem;
	font-weight: bold;
	padding: 16px;
	width: 86px;
	text-align: center;
	border-radius: 4px;
}

.countdown-timer .unit {
	font-size: 1.3rem;

}

.info-container {
	margin-top: 70px;
}

.info-container h2 {
	font-size: 1.3rem;
	display: flex;
	text-align: center;
	justify-content: center;
	color: #fff;
}

.info-container .row {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}



.text {
    display: flex;
    padding: 1rem;
    margin: 20px ;
    color: #fff;
    font-size: 16px;
}

button.book-it {
	text-decoration: none;
	padding: 10px 20px;
	text-align: center !important;
	justify-content: center !important;
	display: flex;
	background-image: linear-gradient(#033747, #012733);
	color: #fff;

margin: 0 45%;
	font-size: 1.5rem;
	border-radius: 8px;
	cursor: pointer !important;
}

button.book-it:hover {
	background-image: linear-gradient(#501070, #012733);
}

body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

/* Effect */

html, body {
	margin: 0;
	padding: 0;
}

:root {
	--color-bg1: rgb(147, 26, 150);
	--color-bg2: rgb(18, 46, 79);
	--color1: 18, 113, 255;
	--color2: 221, 74, 255;
	--color3: 100, 220, 255;
	--color4: 200, 50, 50;
	--color5: 217, 149, 67;
	--color-interactive: 140, 100, 255;
	--circle-size: 70%;
	--blending: hard-light;
}

.gradient-bg {
	width: 100vw;
	min-height: 100vh;
	position: absolute;
	overflow: hidden;
	background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
	top: 0;
	left: 0;

}

.gradients-container {
	width: 100%;
	height: 100%;
}




.g1 {
	position: absolute;
	background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 45%) no-repeat;
	mix-blend-mode: var(--blending);

	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2);
	left: calc(50% - var(--circle-size) / 2);

	transform-origin: center center;
	animation: moveVertical 30s ease infinite;

	opacity: 1;
}

.g2 {
	position: absolute;
	background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 45%) no-repeat;
	mix-blend-mode: var(--blending);

	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2);
	left: calc(50% - var(--circle-size) / 2);

	transform-origin: calc(50% - 400px);
	animation: moveInCircle 20s reverse infinite;

	opacity: 1;
}

.g3 {
	position: absolute;
	background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 45%) no-repeat;
	mix-blend-mode: var(--blending);

	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2 + 200px);
	left: calc(50% - var(--circle-size) / 2 - 500px);

	transform-origin: calc(50% - 400px);
	animation: moveInCircle 40s linear infinite;

	opacity: 1;
}


.g4 {
	position: absolute;
	background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 45%) no-repeat;
	mix-blend-mode: var(--blending);

	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2);
	left: calc(50% - var(--circle-size) / 2);

	transform-origin: calc(50% - 200px);
	animation: moveHorizontal 40s ease infinite;

	opacity: 0.7;
}


.g5 {
	position: absolute;
	background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 45%) no-repeat;
	mix-blend-mode: var(--blending);

	width: calc(var(--circle-size) * 2);
	height: calc(var(--circle-size) * 2);
	top: calc(50% - var(--circle-size));
	left: calc(50% - var(--circle-size));

	transform-origin: calc(50% - 800px) calc(50% + 200px);
	animation: moveInCircle 20s ease infinite;

	opacity: 1;
}

.interactive {
	position: absolute;
	background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 45%) no-repeat;
	mix-blend-mode: var(--blending);

	width: 100%;
	height: 100%;
	top: -50%;
	left: -50%;

	opacity: 0.7;
}