* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 76px;
    line-height: 76px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#033747, #012733);
    z-index: 1;
}

.logo {
    max-height: 76px;
}

.account {
    max-height: 48px;
}

nav .logo img {
    float: left;
    cursor: pointer;
}

nav ul {
    float: left;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li a {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 30px;
    color:  #b39dac;
    text-decoration: none;
}

nav li a:hover {
    color: #babaf5;
    transition: all 0.4s ease 0s;
}

nav .account img,
nav .account i {
    float: right;
    cursor: pointer;
    margin: 14px 0;
    border-radius: 50%;
}

nav .account i {
    color:#fff;
    float: right;
    cursor: pointer;
    max-height: 48px;
    margin: 30px;
}


/* Header style */

.content-internal-page {
    padding: 100px 0;
    color: #f1f7f0;
    text-align: center;
    justify-content: center;
}

.content-internal-page h2 {
    font-size: 5rem;
    font-weight: 700;
}

.p-internal-page {
    margin: 10px 40px;
}

body {
    width: 100%;
    font-size: 16px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-event-internal-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 5;
}

.item-container-internal-page {
    position: relative;
    margin: 24px;
    width: 320px;
    height: 570px;
    overflow: hidden;
    background-color: #f1f7f0;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.img-event-container-internal-page,
.body-contaiter-internal-page {
    position: absolute;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-event-container-internal-page img {
    width: 100%;
}

.body-contaiter-internal-page {
    position: relative;
}

.overlay-internal-page {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgba(24, 83, 122, 0.6);
    opacity: 0;
    transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container-internal-page:hover .overlay-internal-page {
    opacity: 1;
    height: 150px;
}

.event-info-internal-page {
    background-color: #f1f7f0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.title-internal-page, .price-internal-page {
    color: #18537a;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 12px;
}

.info-internal-page {
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.separator-internal-page {
    width: 20%;
    height: 6px;
    background-color: #17537a;
    margin-bottom: 16px;
}

.additional-info-internal-page {
    border-top: 1px solid #bbb;
    margin-top: 12px;
    padding: 28px 28px 0 28px;
}

.info-internal-page {
    font-size: 0.9rem;
    margin-bottom: 20px;
    text-align: center;
}

.info-internal-page i {
    color:#18537a;
    font-size: 1.1em;
    margin-right: 4px;
}

.info-internal-page span {
    color:#18537a;
    font-weight: bolder;
}

.action-internal-page {
    color:#fff;
    border: 3px solid #fff;
    background-color: transparent;
    position: absolute;
    top:50px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: backgraund-color 0.4s, top 0.4s;
}

.item-container-internal-page:hover .action-internal-page {
    top: 50px;
}

.action-internal-page:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


/*Home page*/

.home {
    text-align: center;
    padding-top: 6rem;
    margin: 0 auto;
    max-width: 70rem;
    font-size: 1.2rem;
    color: #fff;
}

.home h3 {
    font-weight: bold;
    font-style: italic;
    font-size: 5rem;
    z-index: 1;
    margin-bottom: 20px;
    color: #fff;
}

/* кутии */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px 100px;
}

.grid-item {
    text-align: center;
    padding: 20px;
    background: #fff;   
    border-radius: 10px;
}

.icon {
    font-size: 24px;
    margin-bottom: 10px;
}

.grid-container .grid-item a {
    display: inline-block;
    padding: 10px 20px;
    background: #460154;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
}

.grid-container .grid-item a:hover {
    background: #75018c;
}